.wedding-party-card.svelte-g8hnx{margin-bottom:4rem;text-align:center}.circle-img.svelte-g8hnx{--circle-diameter:200px;border-radius:50%;height:var(--circle-diameter);width:var(--circle-diameter)}
p.svelte-zm0xls{max-width:24em;margin-left:auto;margin-right:auto}
